extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
        each c,index in i
            if index === 0  
                h1 #{c.NomeInstituicao} [#{c.NIPCInstituicao}] #[a(href="/") VOLTAR]
    .w3-container
      table.w3-table-all
        tr
          th Id
          th DataInicioContrato
          th DataFimContrato
          th NomeInstituicao  
          th AreasInvestigacao
        
        each c in i
          tr
            td
              a(href="/contratos/"+c._id)= c._id
            td= c.DataInicioContrato
            td= c.DataFimContrato
            td 
              a(href="/inst/"+c.NIPCInstituicao)= c.NomeInstituicao
            td= c.AreasInvestigacao
              
    footer.w3-container.w3-teal
      h5 Generated for TP_EngWeb2023 in #{d}
    